<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jasmine Spec Runner</title>
  <link rel="stylesheet" href="../bower_components/jasmine/lib/jasmine-core/jasmine.css">
</head>
<body>
  <% if (dependencies['jquery']) { %><script src="../bower_components/jquery/jquery.js"></script><% } %>
  <% if (dependencies['underscore']) { %><script src="../bower_components/underscore/underscore.js"></script><% } %>
  <% if (dependencies['backbone']) { %><script src="../bower_components/backbone/backbone.js"></script><% } %>
  <% if (dependencies['q']) { %><script src="../bower_components/q/q.js"></script><% } %>
  <script src="../bower_components/jasmine/lib/jasmine-core/jasmine.js"></script>
  <script src="../bower_components/jasmine/lib/jasmine-core/jasmine-html.js"></script>
  <% if (dependencies['jasmine-jquery']) { %><script src="../bower_components/jasmine-jquery/lib/jasmine-jquery.js"></script><% } %>
  <script src="/testem.js"></script>
  <script src="specs.js"></script>
  <script type="text/javascript">
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 250;

      <% if (dependencies['jasmine-jquery']) { %>
      jasmine.getFixtures().fixturesPath = "fixtures";
      <% } %>

      var htmlReporter = new jasmine.HtmlReporter();
      jasmineEnv.addReporter(htmlReporter);

      jasmineEnv.specFilter = function(spec) {
        return htmlReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;
      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }
    })();
  </script>
</body>
</html>
